# ─── Fack API's Configuration ──────────────────────────────────────────────────

# The environment the application is running in (development, production, or test)
NODE_ENV=development

# The port the Next.js server will listen on
PORT=3000

# The path to the SQLite database file
# Local development default: ./data/fack.db
# Docker production default: /data/fack.db
DATABASE_URL=""
DATABASE_AUTH_TOKEN=""
LOGS_POSTGRES_URL=""